#candidates.container-big
  - if @show_error
    %center
      %h2 Уточните пожалуйста параметры поиска
  - else
    - if @no_candidates
      %center
        %h2 В Вашем округе украли выборы - не допущен ни один независимый кандидат
    - if @municipality
      .map-header
        %h2.title-map
          Ваш муниципалитет:
          %span#municipality_title.color Коломна
      - @distincts.each do |d|
        - unless d.candidates.empty?
          .row
            .col-md-12
              %h2.distinct-title.color-a
                Округ:
                = d.title
          .col-md-10.col-md-offset-1
            %center
              - d.candidates.each do |c|
                .comand-block
                  %center
                    - if c.avatar.blank?
                      = image_tag "img.png"
                    - else
                      .candidate_avatar{:style => "background-image: url(#{c.avatar});"}
                    %p{:style => "max-height: 157px"}
                      %br
                      %br
                      %b= c.full_name
                    
                    %p= c.birthday
                    - unless c.organization.blank?
                      %p 
                        Выдвинут:
                        = c.organization
                    %p= c.phone
                    %p= c.email
                    %div{:style => "width: 100%; height: 30px"}
                      %a{"href" => c.facebook, :style => "display: table-cell;", :target => "_blank"}= image_tag "header/facebook-small.png" unless c.facebook.blank?
                      %a{"href" => c.twitter, :style => "display: table-cell;", :target => "_blank"}= image_tag "header/twitter-small.png" unless c.twitter.blank?
                      %a{"href" => c.vk, :style => "display: table-cell;", :target => "_blank"}= image_tag "header/vk-small.png" unless c.vk.blank?
- unless @candidates.empty?
  .container
    .margin
      .col-md-6.col-md-offset-3
        %button#testjson.btn.link_button.settled.print{type: "button", "data-url" => "/print?name=#{params[:name]}&street=#{params[:street]}"} Распечатать список кандидатов
      .col-md-6.col-md-offset-3.padding
        %button#share_url.btn.btn-lg.link_button.settled{type: "button", "data-shareurl" => "/share_link?name=#{params[:name]}&street=#{params[:street]}" } Поделиться списком в соцсети
= render "share_modal"