#mainarea
  = #render "header"
  = render "slider"
  .block-about
    .container
      .col-md-6
        %h3.about-title Кто такой муниципальный депутат и зачем он нужен?

        %p.about-text
          У муниципальных депутатов не так много полномочий, но они находятся ближе всего к простым гражданам и должны помогать им в решение различных проблем. 
        %p.about-text
          На деле же… зачастую собственных депутатов мы просто не знаем. Причин тому несколько: коррумпированность и закрытость муниципалитетов, засилье политических функционеров вместо активных жителей округа.

        %p.about-text
          Что делать? Все просто: заранее знакомиться с кандидатами и их программами, голосовать за новых людей и жителей района, учиться контролировать своих депутатов.
          

      .col-md-6#infoblock.clearfix= render "infoblock"
        
    .container-title
      %h2.title
        Местное самоуправление
        %span.title-relative.title-relative-none.show_slide_1
          сейчас
        и каким
        %span.title-relative.show_slide_2
          оно должно быть
  .block-outlook
    %ul.block-outlook-slider
      %li#slide_1
        .block-outlook-slider-item_wrap
          = image_tag "info-slide-2.jpg", :class => "block-outlook-img"
          %span.outlook-arrows.a
          %span.outlook-line_decor.a
          .outlook-item-fone
          -#
            .container.container-outlook
              .outlook-text-wrap
                %p.outlook-text
                  Советские помойки - это катастрофа. Огромные, грязные вечно переполненные контейнеры, источающие зловоние и смрад.
                
      %li#slide_2.active
        .block-outlook-slider-item_wrap
          = image_tag "info-slide-1.jpg", :class => "block-outlook-img"
          %span.outlook-arrows.b
          %span.outlook-line_decor.b
          .outlook-item-fone
          -#
            .container.container-outlook
              .outlook-text-wrap
                %p.outlook-text
                  А может быть свет, депутаты, которых волнуют проблемы горожан мусор, рассортированный по контейнерам. Счастье, добро и мир.
                  
  //.map-header-wrap
  .grey-block
    .container
      .map-header
        %h2.title-map.grey
          За кого голосовать 14 сентября?
        %p.map-text.map-text-wrap
          Чтобы получить информацию о людях, за которых не стыдно отдать свой голос на выборах в муниципальный совет,  введите свой адрес в поле поиска.
      .div{:style => "position:relative; bottom: 50px"}
        %a{:mark => "search_form", :name => "search_form"}
        .form-group.submit-group.form-center
          .input_wrap
            %label.opera{:style => "text-align: left; font-size: 9px; color: #aaa; display: none;"} Поиск может работать некорректно, если у вас в браузере активирован AdBlock или вы пользуетесь Internet Explorer. Если что-то пошло не так, пожалуйста, используйте Google Chrome.
            %input#inputWarning.form-control.bg{"placeholder" => "Улица и дом, в котором вы живете", "type" => "text", :name => "search"}
            
            
          
          #searchButton.btn.btn-default.link_button{type: "submit", :style => "position: relative;"}
            %i.fa.fa-circle-o-notch.fa-spin{:style => "display: none"}
            %span Найти
            #map-canvas
  
  = render "welcome/candidates"
  

  %br
  %br
  %footer
    .container
      .center
        %center
          .social
            .image
              %a.share_main.s_facebook{"href" => "#"}
                = image_tag "header/facebook-big.png"
            .image
              %a.share_main.s_twitter{"href" => "#"}
                = image_tag "header/twitter-big.png"
            .image
              %a.share_main.s_vk{"href" => "#"}
                = image_tag "header/vk-big.png"
          .block-description
            %h3 Расскажи о нас в социальных сетях!
            %p Помоги своим друзьям и знакомых определиться с выбором.
          %br
          %br
          %br
          %center{:style => "font-size: 11px; color: #fff; width: 400px"}
            Данный интернет ресурс сделан на безвозмездной основе и не является СМИ. По всем вопросам обращаться к владельцу домена. Почта для связи: 
            = mail_to "munvibori2014@gmail.com "
    
#loader
  %i.fa.fa-circle-o-notch.fa-spin