#mainarea
	%header#header
		.container
			.logo-wrap.clearfix
				%a.logo-link{href: "#"}
				%span.text-decor Объединение гражданских  проектов с политическими  партиями
			%ul.nav.navbar-nav.navbar-right
				%li
					= link_to 'События', '#', class:"link"
				%li
					= link_to 'О Коалиции', '#', class:"link"
				%li.active
					= link_to 'Вопросы и ответы', '#', class:"link"
	.slider
		%span.slider-button_decor
		.container.container-pos
			%h2.slider-title Миру нужны герои
			%p.slider-text Город накрыла тьма. Влюбленным негде целоваться все лавочки сломаны. Для велосипедистов не осталось дорожек и они вынуждены передвигаться по поребрикам. Спасти город можешь только ты!  
			%p.slider-text Победить зло городе очень просто, достаточно начать со своего двора. Силам добра нужна твоя помощь! Регистрируйся и становись волонтером.
			= link_to 'Узнать больше', '#', class:"link_button"
			%a.arrow.arrow_prev
			%a.arrow.arrow_next
			%ul.ico_list.clearfix
				%li
					%a.ico-item.ico-yard{href: "#"}
						%span.ico-img
						%br
						%span.ico-text Двор
				%li
					%a.ico-item.ico-square{href: "#"}
						%span.ico-img
						%br
						%span.ico-text Сквер
				%li
					%a.ico-item.ico-garbage{href: "#"}
						%span.ico-img
						%br
						%span.ico-text Мусор
				%li
					%a.ico-item.ico-home{href: "#"}
						%span.ico-img
						%br
						%span.ico-text Дом
				%li
					%a.ico-item.ico-become_hero.active{href: "#"}
						%span.ico-img
						%br
						%span.ico-text.ico-text_small Стань Героем
				%li
					%a.ico-item.ico-small_business{href: "#"}
						%span.ico-img
						%br
						%span.ico-text.ico-text_small Малый бизнес
				%li
					%a.ico-item.ico-bicycle{href: "#"}
						%span.ico-img
						%br
						%span.ico-text Велосипедизация
				%li
					%a.ico-item.ico-honesty_authorities{href: "#"}
						%span.ico-img
						%br
						%span.ico-text.ico-text_small Честность властей
				%li
					%a.ico-item.ico-your_problem{href: "#"}
						%span.ico-img
						%br
						%span.ico-text.ico-text_small Твоя проблема
	.block-about
		.container
			.col-md-6
				%h3.about-title О коалиции
				%p.about-text 
					Он вспомнил и сообразил всё о Дунечке, и сердце его замерло. Он сорвался с места и побежал. Человек остановился на пороге, посмотрел молча на Раскольникова и ступил шаг в комнату. 
				%p.about-text 
					Она крепко пожала руку князю, приветливо и ласково улыбнулась ему и вышла. На Ганю она не посмотрела. Но только это и успел выговорить, онемев под ужасным взглядом Аглаи. В этом взгляде выразилось столько страдания и в то же время бесконечной ненависти, что он всплеснул руками, вскрикнул и бросился к ней, но уже было поздно! Она не перенесла даже и мгновения его колебания, закрыла руками лицо, вскрикнула: «Ах, боже мой!» — и бросилась вон из комнаты, за ней Рогожин, чтоб отомкнуть ей задвижку у дверей на улицу.
			.col-md-6.clearfix
				.block-about_hint
					%div.about-price 
						$44,4
						%div.about-price_text млрд
					%p.about_hint-text
						Такую сумму потеряли за один день 300 богатейших людей планеты из-за обвала котировок на мировых биржах, произошедшего на фоне обострения политической ситуации в Крыму.
						%span.about_hint-ico_more-wrap
							%span.about_hint-ico_more
					%span.about_hint-decor.about_hint-decor_top
					%span.about_hint-decor.about_hint-decor_bottom
		.container
			%h2.title
				Местное самоуправление
				%span.title-relative
					сейчас
					%span.title-relative-arrow
				и как
				%span.title-relative.title-relative-none
					может быть
					%span.title-relative-arrow
	.block-outlook
		.container.container-pos.container-outlook
			%span.outlook-arrows
			%span.outlook-line_decor
			.outlook-text-wrap
				%p.outlook-text
					А может быть свет, депутаты, которых волнуют проблемы горожан мусор, рассортированный по контейнерам. Счастье, добро и мир.
	.map-header-wrap
		.container
			.map-header
				%h2.title-map
					Карта муниципалитетов Санкт-Петербурга
				%p.map-text.map-text-wrap
					Чтобы узнать информацию о своем округе и ознакомиться с кандидатами в депутаты муниципального собрания, выберите район и муниципалитет на карте или введите адрес в поле поиска.
				%span.map-header_decor
	.map-body-wrap
		%span.map-header-bottom_decor
		.map-body-wrap_bg
		.container.container-pos
			.row
				.col-md-6
					.map-block-wrap
						.find-block_wrap.active
							%input.find-block{placeholder: "Введите адрес, чтобы найти муниципалитет", value: "Димитрова ул. 65", type: "text"}
								%span.find-block-ico_close.active
							%span.find-block_finder Найти
						.popup_hint
							%h3.popup_hint-title Муниципальное образование № 71
							%p.popup_hint-text Если в данном муниципалитете появятся независимые кандидаты, будут отремонтированы дороги и очищены залежи мусора во дворах. Переулки наполнятся светом и добром. Заброшенный пустырь будет преобразован в многопрофильную спортивную площадку.
				.col-md-6
					.map-block-wrap
						.candidate-scale_wrap
							.candidate_head.clearfix
								%span.candidate-ico
								%p.candidate_head-text Шкала количества кандидатов
								%span.candidate-ico.candidate-ico_four
							.candidate_head-decor
						.candidate_wrap
							.candidate_body
								%h5.candidate_body-title
									Кандидаты в депутаты  муниципального собрания 
									%span.candidate_list-count (17)
								%ul.candidate_list.clearfix
									%li.clearfix
										%span.candidate_list-ico
										%span.candidate_list-text Партия «Зеленые»
									%li.clearfix
										%span.candidate_list-ico
										%span.candidate_list-text Общественное движение «Светофор»
									%li.clearfix
										%span.candidate_list-ico
										%span.candidate_list-text Независимый кандидат
									%li.clearfix
										%span.candidate_list-ico
										%span.candidate_list-text Партия «Сёстры»
									%li.clearfix
										%span.candidate_list-ico
										%span.candidate_list-text Партия «Синие  ведерки»
									%li.clearfix
										%span.candidate_list-ico
										%span.candidate_list-text Общественное движение «Мусоровывоз»
									%li.clearfix
										%span.candidate_list-ico
										%span.candidate_list-text Независимый кандидат
									%li.clearfix
										%span.candidate_list-ico
										%span.candidate_list-text Партия «Лунные дети»
									%li.clearfix
										%span.candidate_list-ico
										%span.candidate_list-text Независимый кандидат
									%li.clearfix
										%span.candidate_list-ico
										%span.candidate_list-text Партия «Одномандат- ный округ»
								%a.link_button.link_button-blue{href: "#"} Стать кандидатом
								%span.candidate-decor
							.candidate-arrow_wrap
								%span.candidate-arrow_link
			.popover.popup_hint-arrow-position.top
				%span.popup_hint-arrow_close
				.arrow
				%h3.popover-title ФРУНЗЕНСКИЙ РАЙОН
				.popover-content
					%p Муниципальное образование № 71
	.subscription
		.container
			%h2.subscription-title
				Хочешь всегда знать что происходит рядом с тобой? 
				Подпишись на новости своего муниципалитета.
			.subscription-wrap_input.clearfix
				%div.input_wrap.input_disabled.input_send
					%input.form_inp{placeholder: 'E-mail', type: "text"}
				%label.form_login-send
					%input.inp_submit{type: "submit"}
					%span.link_button Отправить
	.developments
		.container
			%h5.developments-title
				%span.developments-title_ico
				%span.developments-title_text События муниципалитета
			.row.developments-list
				.col-xs-6.col-md-3.col-sm-6
					.block_news
						= image_tag "styles-inf.jpg", :class => "block_news-img"
						%h4.block_news-title
							%span.block_news-title_text Весенний субботник
							%span.block_news-title_ico
						%a.block_news-data_link{href: "#"} 24 апреля 2014
						%p.block_news-text Принято постановление о проведении месячника чистоты на территории всех муниципальных образований
				.col-xs-6.col-md-3.col-sm-6
					.block_news
						= image_tag "styles-inf-1.jpg", :class => "block_news-img"
						%h4.block_news-title
							%span.block_news-title_text 
								Велосипедный  
								%br
								пробег
							%span.block_news-title_ico
						%a.block_news-data_link{href: "#"} 1 мая 2014
						%p.block_news-text Ежегодный велопробег по улицам Питера.
				.col-xs-6.col-md-3.col-sm-6
					.block_news
						= image_tag "styles-inf-2.jpg", :class => "block_news-img"
						%h4.block_news-title
							%span.block_news-title_text Акция «Помоги  бездомному»
							%span.block_news-title_ico
						%a.block_news-data_link{href: "#"} 1 апреля 2014
						%p.block_news-text Раздачи еды и тёплой одежды  в Санкт-Петербурге! Присоединяйтесь!
				.col-xs-6.col-md-3.col-sm-6
					.block_news
						= image_tag "styles-inf-3.jpg", :class => "block_news-img"
						%h4.block_news-title
							%span.block_news-title_text Акция «Посади  дерево»
							%span.block_news-title_ico
						%a.block_news-data_link{href: "#"} 24 апреля 2014
						%p.block_news-text Посади дерево — социальный проект по озеленению города.
			.info_wrap.info_wrap-indent
				%span.info-ico
				%span.info-text Знаете событие, которого тут нет? Напишите нам на 
				%a.info-link{href: "#"} info@forceofgoodness.ru
		%span.developments-decor
	.soc-info
		.container
			.map-header
				%h2.title-map
					Остались вопросы?
				%p.map-text
					Но только что он вступил в столовую (еще через одну комнату от гостиной), с ним в дверях почти столкнулась выходившая Аглая. Она была одна.	Пристальный и беспокойный ее взгляд нетерпеливо устремился на Аглаю. Обе сели поодаль одна от другой: Аглая на диване в углу комнаты, Настасья Филипповна у окна. Князь и Рогожин не садились, да их и не пригласили садиться. Князь с недоумением и как бы с болью опять поглядел на Рогожина, но тот улыбался всё прежнею своею улыбкой. Молчание продолжалось еще несколько мгновений.
				%span.map-header_decor
			.row
				.col-xs-6.col-center
					%ul.soc_list.clearfix
						%li
							%a.soc-link.soc-fb{href: "#"}
						%li
							%a.soc-link.soc-tw{href: "#"}
						%li
							%a.soc-link.soc-vk{href: "#"}
					.soc_list-text Рассказать о нас своим друзьям
				.col-xs-6.col-center
					%a.compete-ico{href: "#"}
					.soc_list-text 
						Можно выбрать свое событие 
						%a.block_news-data_link{href: "#"} тут
			.row.superman-wrap
				.col-xs-6.col-center
					%a.superman-ico{href: "#"}
					%br
					%div.soc_list-text 
						Готов сам менять города — 
						%br становись депутатом
					= link_to 'Стать кандидатом', '#', class:"link_button link_button-blue"
					%div.soc-info_hint-text 
						Не знаешь как это сделать – иди в 
						%a.soc-info_hint-link{href: "#{}"} Школу депутатов
						, там тебя научат
				.col-xs-6.col-center
					%a.superman-ico.man{href: "#"}
					%br
					%div.soc_list-text 
						Так и не понял кто такие 
						%br
						муниципальные депутаты —
					%a.superman-link{href: "#"} почитай ответы на основные вопросы
			%form.form_login.form-pos.form-center{action: "#"}
				%div
					%h3.subscription-title Каждый может стать героем
					%h3.subscription-title.title-blue Заполни минианкету
					%br
					%ul.form-style_list
						%li
							%div.input_wrap.input_disabled
								%input.form_inp{type: "text"}
								%span.form_inp-text 
									Имя
									%span.form_inp-star
								%span.form-hint_text Имя состоит из букв
						%li
							%div.input_wrap.input_disabled
								%input.form_inp{type: "text"}
								%span.form_inp-text 
									Фамилия
									%span.form_inp-star
								%span.form-hint_text Имя состоит из букв
						%li
							%div.input_wrap.input_disabled
								%input.form_inp{type: "text"}
								%span.form_inp-text 
									Дата рождения
									%span.form_inp-star
								%span.form-hint_text Имя состоит из букв
						%li
							%div.input_wrap.input_disabled
								%input.form_inp{type: "text"}
								%span.form_inp-text 
									Телефон
									%span.form_inp-star
								%span.form-hint_text Имя состоит из букв
						%li
							%div.input_wrap.input_disabled
								%input.form_inp{type: "text"}
								%span.form_inp-text 
									E-mail
									%span.form_inp-star
								%span.form-hint_text Имя состоит из букв
						%li
							%div.input_wrap.input_disabled
								%input.form_inp{type: "text"}
								%span.form_inp-text 
									Логин Вконтакте
								%span.form-hint_text Имя состоит из букв
					%dl.check-box_list
						%dt.title-form_small Я готов:
						%dd.check-box_item
							%label.check-box_item_wrap
								%input.check-box_item_checkbox{:type => "checkbox"}
								%span.check-box_item_ico_wrap
									%span.check-box_item_ico
								%span.check-box_item_text Поддержать материально
								%span.clear
						%dd.check-box_item
							%label.check-box_item_wrap
								%input.check-box_item_checkbox{:type => "checkbox"}
								%span.check-box_item_ico_wrap
									%span.check-box_item_ico
								%span.check-box_item_text Стать волонтером
								%span.clear
						%dd.check-box_item
							%label.check-box_item_wrap
								%input.check-box_item_checkbox{:type => "checkbox"}
								%span.check-box_item_ico_wrap
									%span.check-box_item_ico
								%span.check-box_item_text Продвигать проект в интернете
								%span.clear
						%dd.check-box_item
							%label.check-box_item_wrap
								%input.check-box_item_checkbox{:type => "checkbox"}
								%span.check-box_item_ico_wrap
									%span.check-box_item_ico
								%span.check-box_item_text Участвовать в мероприятиях
								%span.clear
					.submit-wrap
						%input.submit-input{:type => "submit"}
						%a.submit-link.link_button{:href => "#"} Отправить
	%footer#footer
		.container
			.row
				.col-xs-6
					%span.copyright © 2014 Общественное объединение «Силы Добра»
				.col-xs-6.col-right
					%span.autor 
						Дизайн — 
						%a.autor-name{href: "#"}Friday
#popup_block.show_popup
	#popup_fone
	.popup_window.candidate_profile
		%span.candidate-close.glyphicon.glyphicon-remove
		%form.candidate-form{action: "#"}
			%h3.popup-title Анкета кандидата
			%ul.candidate-list.form-style_list
				%li.input_wrap.input_disabled
					%input.form_inp{type: "text"}
					%span.form_inp-text 
						Имя
						%span.form_inp-star
					%span.form-hint_text Имя состоит из букв
				%li.input_wrap.input_disabled
					%input.form_inp{type: "text"}
					%span.form_inp-text 
						Фамилия
						%span.form_inp-star
					%span.form-hint_text Имя состоит из букв
				%li.input_wrap.input_disabled
					%input.form_inp{type: "text"}
					%span.form_inp-text 
						Дата рождения
						%span.form_inp-star
					%span.form-hint_text Имя состоит из букв
				%li.input_wrap.input_disabled
					%input.form_inp{type: "text"}
					%span.form_inp-text 
						E-mail
						%span.form_inp-star
					%span.form-hint_text Имя состоит из букв
				%li.input_wrap.input_disabled
					%input.form_inp{type: "text"}
					%span.form_inp-text 
						Телефон
						%span.form_inp-star
					%span.form-hint_text Имя состоит из букв
				%li.input_wrap.input_disabled
					%input.form_inp{type: "text"}
					%span.form_inp-text 
						Район
						%span.form_inp-star
					%span.form-hint_text Имя состоит из букв
					%span.form_inp-select_ico.glyphicon.glyphicon-chevron-down
				%li.input_wrap.input_disabled
					%input.form_inp{type: "text"}
					%span.form_inp-text 
						Округ
						%span.form_inp-star
					%span.form-hint_text Имя состоит из букв
					%span.form_inp-select_ico.glyphicon.glyphicon-chevron-down
				%li.input_wrap.input_disabled
					%input.form_inp{type: "text", placeholder: "Ваша партия/движение"}
			.candidate-submit-wrap
				%input.candidate-submit{type: "submit"}
				%a.link_button{href: "#"} Отправить




