.container.main.clearfix
	.wrap_style.clearfix
		%ul.link_list.clearfix
			%li
				%span.link_ico
				= link_to 'События', '#', class:"link"
			%li
				%span.link_ico
				= link_to 'Проекты', '#', class:"link"
			%li.active
				%span.link_ico
				= link_to 'О нас', '#', class:"link"
		%ul.wrap_link-button.link-button-left
			%li
				= link_to 'Узнать больше', '#', class:"link_button"
				= link_to 'Стать кандидатом', '#', class:"link_button link_button-blue"
			%li
				= link_to 'Узнать больше', '#', class:"link_button active"
				= link_to 'Стать кандидатом', '#', class:"link_button link_button-blue active"
.wrap_ico
	.container.container-big
		%ul.ico_list-wrap
			%li
				%ul.ico_list.clearfix
					%li
						%a.ico-item.ico-yard{href: "#"}
							%span.ico-img
							%br
							%span.ico-text Двор
					%li
						%a.ico-item.ico-square{href: "#"}
							%span.ico-img
							%br
							%span.ico-text Сквер
					%li
						%a.ico-item.ico-garbage{href: "#"}
							%span.ico-img
							%br
							%span.ico-text Мусор
					%li
						%a.ico-item.ico-home{href: "#"}
							%span.ico-img
							%br
							%span.ico-text Дом
					%li
						%a.ico-item.ico-become_hero{href: "#"}
							%span.ico-img
							%br
							%span.ico-text Стань Героем
					%li
						%a.ico-item.ico-small_business{href: "#"}
							%span.ico-img
							%br
							%span.ico-text Малый бизнес
					%li
						%a.ico-item.ico-bicycle{href: "#"}
							%span.ico-img
							%br
							%span.ico-text Велосипедизация
					%li
						%a.ico-item.ico-honesty_authorities{href: "#"}
							%span.ico-img
							%br
							%span.ico-text Честность властей
					%li
						%a.ico-item.ico-your_problem{href: "#"}
							%span.ico-img
							%br
							%span.ico-text Твоя проблема
					%li
						%a.arrow.arrow_prev
						%a.arrow.arrow_next
			%li
				%ul.ico_list.clearfix
					%li
						%a.ico-item.ico-yard.active{href: "#"}
							%span.ico-img
							%br
							%span.ico-text Двор
					%li
						%a.ico-item.ico-square.active{href: "#"}
							%span.ico-img
							%br
							%span.ico-text Сквер
					%li
						%a.ico-item.ico-garbage.active{href: "#"}
							%span.ico-img
							%br
							%span.ico-text Мусор
					%li
						%a.ico-item.ico-home.active{href: "#"}
							%span.ico-img
							%br
							%span.ico-text Дом
					%li
						%a.ico-item.ico-become_hero.active{href: "#"}
							%span.ico-img
							%br
							%span.ico-text Стань Героем
					%li
						%a.ico-item.ico-small_business.active{href: "#"}
							%span.ico-img
							%br
							%span.ico-text Малый бизнес
					%li
						%a.ico-item.ico-bicycle.active{href: "#"}
							%span.ico-img
							%br
							%span.ico-text Велосипедизация
					%li
						%a.ico-item.ico-honesty_authorities.active{href: "#"}
							%span.ico-img
							%br
							%span.ico-text Честность властей
					%li
						%a.ico-item.ico-your_problem.active{href: "#"}
							%span.ico-img
							%br
							%span.ico-text Твоя проблема
					%li
						%a.arrow.arrow_prev.active
						%a.arrow.arrow_next.active
.container.container-big
	%h2.title
		Местное самоуправление
		%span.title-relative
			сейчас
			%span.title-relative-arrow
		и как
		%span.title-relative.title-relative-none
			может быть
			%span.title-relative-arrow
	%h2.title.active
		Местное самоуправление
		%span.title-relative.title-relative-none
			сейчас
			%span.title-relative-arrow
		и как
		%span.title-relative
			может быть
			%span.title-relative-arrow
	.candidate-scale_wrap.candidate-scale_wrap-left
		.candidate_head.clearfix
			%span.candidate-ico
			%p.candidate_head-text Шкала количества кандидатов
			%span.candidate-ico.candidate-ico_four
		.candidate_head-decor
	%ul.link_load-more-wrap.clearfix
		%li
			%a.link_load-more{href: "#"}
		%li
			%a.link_load-more.active{href: "#"}
	.clear
	.candidate_wrap.candidate_wrap-left
		.candidate_body
			%h5.candidate_body-title
				Кандидаты в депутаты  муниципального собрания 
				%span.candidate_list-count (17)
			%ul.candidate_list.clearfix
				%li.clearfix
					%span.candidate_list-ico
					%span.candidate_list-text Партия «Зеленые»
				%li.clearfix
					%span.candidate_list-ico
					%span.candidate_list-text Общественное движение «Светофор»
				%li.clearfix
					%span.candidate_list-ico
					%span.candidate_list-text Независимый кандидат
				%li.clearfix
					%span.candidate_list-ico
					%span.candidate_list-text Партия «Сёстры»
				%li.clearfix
					%span.candidate_list-ico
					%span.candidate_list-text Партия «Синие  ведерки»
				%li.clearfix
					%span.candidate_list-ico
					%span.candidate_list-text Общественное движение «Мусоровывоз»
				%li.clearfix
					%span.candidate_list-ico
					%span.candidate_list-text Независимый кандидат
				%li.clearfix
					%span.candidate_list-ico
					%span.candidate_list-text Партия «Лунные дети»
				%li.clearfix
					%span.candidate_list-ico
					%span.candidate_list-text Независимый кандидат
				%li.clearfix
					%span.candidate_list-ico
					%span.candidate_list-text Партия «Одномандат- ный округ»
			%a.link_button.link_button-blue{href: "#"} Стать кандидатом
			%span.candidate-decor
		.candidate-arrow_wrap
			%span.candidate-arrow_link
	.style-left
		%ul.info_wrap-list.clearfix
			%li
				.info_wrap
					%span.info-ico
					%span.info-text Знаете событие, которого тут нет? Напишите нам на 
					%a.info-link{href: "#"} info@forceofgoodness.ru
			%li
				.info_wrap
					%span.info-ico
					%span.info-text Знаете событие, которого тут нет? Напишите нам на 
					%a.info-link{href: "#"} info@forceofgoodness.ru
		.clear
		%ul.soc_list.clearfix
			%li
				%a.soc-link.soc-fb{href: "#"}
			%li
				%a.soc-link.soc-tw{href: "#"}
			%li
				%a.soc-link.soc-vk{href: "#"}
			%li
				%a.compete-ico{href: "#"}
		%ul.superman_list.clearfix
			%li
				%a.superman-ico{href: "#"}
			%li
				%a.superman-ico.man{href: "#"}
	.clear
	%h2.help_proj
		%span.help_proj-text Хочешь помочь нашему проекту, но не знаешь как?
		%br
		%a.help_proj-link{href: "#"} Заполни минианкету
	%form.form_login.form-pos{action: "#"}
		%div
			%ul.form-style_list
				%li
					%div.input_wrap.input_disabled
						%input.form_inp{type: "text"}
						%span.form_inp-text 
							Имя
							%span.form_inp-star
						%span.form-hint_text Имя состоит из букв
				%li
					%div.input_wrap.input_completed
						%input.form_inp{type: "text"}
						%span.form_inp-text 
							Василий
							%span.form_inp-star
						%span.form-hint_text Имя состоит из букв
				%li
					%div.input_wrap.input_error
						%input.form_inp{type: "text"}
						%span.form_inp-text 
							111
							%span.form_inp-star
						%span.form-hint_text Имя состоит из букв
				%li.clearfix
					%div.input_wrap.input_error.input_send
						%input.form_inp{type: "text"}
						%span.form_inp-text 
							dfv
							%span.form_inp-star
					%label.form_login-send
						%input.inp_submit{type: "submit"}
						%span.link_button Отправить
					.clear
					.form-hint_text Введите e-mail
				%li
					.find-block_wrap
						%input.find-block{placeholder: "Введите адрес, чтобы найти муниципалитет", type: "text"}
						%span.find-block_finder Найти
				%li
					.find-block_wrap
						%input.find-block{placeholder: "Введите адрес, чтобы найти муниципалитет", value: "Димитрова ул. 65", type: "text"}
							%span.find-block-ico_close.active
						%span.find-block_finder Найти
	.block_news.block_news-left
		= image_tag "styles-inf.jpg", :class => "block_news-img"
		%h4.block_news-title
			%span.block_news-title_text Весенний субботник
			%span.block_news-title_ico
		%a.block_news-data_link{href: "#"} 24 апреля 2014
		%p.block_news-text Принято постановление о проведении месячника чистоты на территории всех муниципальных образований
	.block_popup-wrap.block_popup-wrap_left
		.popup_hint
			%h3.popup_hint-title Муниципальное образование № 71
			%p.popup_hint-text Если в данном муниципалитете появятся независимые кандидаты, будут отремонтированы дороги и очищены залежи мусора во дворах. Переулки наполнятся светом и добром. Заброшенный пустырь будет преобразован в многопрофильную спортивную площадку.
		.popup_hint-arrow.popup_hint-arrow-indent
			%span.popup_hint-arrow_close
			%span.popup_hint-arrow_img
			%h5.popup_hint-arrow_title ФРУНЗЕНСКИЙ РАЙОН
			%span.popup_hint-arrow_text Муниципальное образование № 71
		.popover.top
			%span.popup_hint-arrow_close
			.arrow
			%h3.popover-title ФРУНЗЕНСКИЙ РАЙОН
			.popover-content
				%p Муниципальное образование № 71
	.clear




