.container.main.clearfix
	.wrap_style.clearfix
		%ul.reset_style.link_list.clearfix
			%li
				%span.sprite.link_ico
				= link_to 'События', '#', class:"link"
			%li
				%span.sprite.link_ico
				= link_to 'Проекты', '#', class:"link"
			%li.active
				%span.sprite.link_ico
				= link_to 'О нас', '#', class:"link"
		%ul.reset_style.wrap_link-button.link-button-left.link-button-pos
			%li
				= link_to 'Узнать больше', '#', class:"link_button"
				= link_to 'Стать кандидатом', '#', class:"link_button link_button-blue"
			%li
				= link_to 'Узнать больше', '#', class:"link_button active"
				= link_to 'Стать кандидатом', '#', class:"link_button link_button-blue active"
.wrap_ico
	.container.container-big
		%ul.reset_style.ico_list-wrap
			%li
				%ul.reset_style.ico_list.clearfix
					%li
						%a.ico-item.ico-yard{href: "#"}
							%span.sprite.i-yard
							%br
							%span.ico-text Двор
					%li
						%a.ico-item.ico-square{href: "#"}
							%span.sprite.i-square
							%br
							%span.ico-text Сквер
					%li
						%a.ico-item.ico-garbage{href: "#"}
							%span.sprite.i-garbage
							%br
							%span.ico-text Мусор
					%li
						%a.ico-item.ico-home{href: "#"}
							%span.sprite.i-home
							%br
							%span.ico-text Дом
					%li
						%a.ico-item.ico-become_hero{href: "#"}
							%span.sprite.i-become_hero
							%br
							%span.ico-text Стань Героем
					%li
						%a.ico-item.ico-small_business{href: "#"}
							%span.sprite.i-small_business
							%br
							%span.ico-text Малый бизнес
					%li
						%a.ico-item.ico-bicycle{href: "#"}
							%span.sprite.i-bicycle
							%br
							%span.ico-text Велосипедизация
					%li
						%a.ico-item.ico-honesty_authorities{href: "#"}
							%span.sprite.i-honesty_authorities
							%br
							%span.ico-text Честность властей
					%li
						%a.ico-item.ico-your_problem{href: "#"}
							%span.sprite.i-your_problem
							%br
							%span.ico-text Твоя проблема
					%li
						%a.sprite.i-arrow.arrow_prev
						%a.sprite.i-arrow.arrow_next
			%li
				%ul.reset_style.ico_list.clearfix
					%li
						%a.ico-item.ico-yard.active{href: "#"}
							%span.sprite.i-yard
							%br
							%span.ico-text Двор
					%li
						%a.ico-item.ico-square.active{href: "#"}
							%span.sprite.i-square
							%br
							%span.ico-text Сквер
					%li
						%a.ico-item.ico-garbage.active{href: "#"}
							%span.sprite.i-garbage
							%br
							%span.ico-text Мусор
					%li
						%a.ico-item.ico-home.active{href: "#"}
							%span.sprite.i-home
							%br
							%span.ico-text Дом
					%li
						%a.ico-item.ico-become_hero.active{href: "#"}
							%span.sprite.i-become_hero
							%br
							%span.ico-text Стань Героем
					%li
						%a.ico-item.ico-small_business.active{href: "#"}
							%span.sprite.i-small_business
							%br
							%span.ico-text Малый бизнес
					%li
						%a.ico-item.ico-bicycle.active{href: "#"}
							%span.sprite.i-bicycle
							%br
							%span.ico-text Велосипедизация
					%li
						%a.ico-item.ico-honesty_authorities.active{href: "#"}
							%span.sprite.i-honesty_authorities
							%br
							%span.ico-text Честность властей
					%li
						%a.ico-item.ico-your_problem.active{href: "#"}
							%span.sprite.i-your_problem
							%br
							%span.ico-text Твоя проблема
					%li
						%a.sprite.i-arrow.arrow_prev.active
						%a.sprite.i-arrow.arrow_next.active
.container.container-big
	%h2.title
		Местное самоуправление
		%span.title-relative
			сейчас
			%span.sprite.title-relative-arrow
		и как
		%span.title-relative.title-relative-none
			может быть
			%span.sprite.title-relative-arrow
	%h2.title.active
		Местное самоуправление
		%span.title-relative.title-relative-none
			сейчас
			%span.sprite.title-relative-arrow
		и как
		%span.title-relative
			может быть
			%span.sprite.title-relative-arrow
	.candidate-scale_wrap.candidate-scale_wrap-left
		.candidate_head.clearfix
			%span.sprite.i-candidate
			%p.candidate_head-text Шкала количества кандидатов
			%span.sprite.i-candidate.i-candidate-four
		.candidate_head-decor
	%ul.reset_style.link_load-more-wrap.clearfix
		%li
			%a.sprite.link_load-more{href: "#"}
		%li
			%a.sprite.link_load-more.active{href: "#"}
	.clear
	.candidate_wrap.candidate_wrap-left
		.candidate_body
			%h5.candidate_body-title
				Кандидаты в депутаты  муниципального собрания 
				%span.candidate_list-count (17)
			%ul.reset_style.candidate_list.clearfix
				%li.clearfix
					%span.sprite.i-candidate-list
					%span.candidate_list-text Партия «Зеленые»
				%li.clearfix
					%span.sprite.i-candidate-list
					%span.candidate_list-text Общественное движение «Светофор»
				%li.clearfix
					%span.sprite.i-candidate-list
					%span.candidate_list-text Независимый кандидат
				%li.clearfix
					%span.sprite.i-candidate-list
					%span.candidate_list-text Партия «Сёстры»
				%li.clearfix
					%span.sprite.i-candidate-list
					%span.candidate_list-text Партия «Синие  ведерки»
				%li.clearfix
					%span.sprite.i-candidate-list
					%span.candidate_list-text Общественное движение «Мусоровывоз»
				%li.clearfix
					%span.sprite.i-candidate-list
					%span.candidate_list-text Независимый кандидат
				%li.clearfix
					%span.sprite.i-candidate-list
					%span.candidate_list-text Партия «Лунные дети»
				%li.clearfix
					%span.sprite.i-candidate-list
					%span.candidate_list-text Независимый кандидат
				%li.clearfix
					%span.sprite.i-candidate-list
					%span.candidate_list-text Партия «Одномандат- ный округ»
			%a.link_button.link_button-blue{href: "#"} Стать кандидатом
			%span.candidate-decor
		.candidate-arrow_wrap
			%span.candidate-arrow_link
	.style-left
		%ul.reset_style.info_wrap-list.clearfix
			%li
				.info_wrap
					%span.sprite.i-info
					%span.info-text Знаете событие, которого тут нет? Напишите нам на 
					%a.info-link{href: "#"} info@forceofgoodness.ru
			%li
				.info_wrap
					%span.sprite.i-info
					%span.info-text Знаете событие, которого тут нет? Напишите нам на 
					%a.info-link{href: "#"} info@forceofgoodness.ru
		.clear
		%ul.reset_style.soc_list.clearfix
			%li
				%a.sprite.soc-link.i-soc-fb{href: "#"}
			%li
				%a.sprite.soc-link.i-soc-tw{href: "#"}
			%li
				%a.sprite.soc-link.i-soc-vk{href: "#"}
			%li
				%a.sprite.i-compete{href: "#"}
		%ul.reset_style.superman_list.clearfix
			%li
				%a.sprite.i-superman{href: "#"}
			%li
				%a.sprite.i-superman.i-man{href: "#"}
	.clear
	%h2.help_proj
		%span.help_proj-text Хочешь помочь нашему проекту, но не знаешь как?
		%br
		%a.help_proj-link{href: "#"} Заполни минианкету
	%form.form_login.form-pos{action: "#"}
		%div
			
			.form-group
				.input_wrap
					%input.inp_outlinenone#disabledTextInput.form-control{type: "text"}
					%span.form_inp-text.form_inp-default
						Имя
						%span.sprite.i-form_inp-star
					%span.form-hint_text Имя состоит из букв
			.form-group.has-success
				.input_wrap
					%input.inp_outlinenone#inputSuccess1.form-control{type: "text"}
					%span.form_inp-text 
						Василий
					%span.form-hint_text Имя состоит из букв
			.form-group.has-error
				.input_wrap
					%input.inp_outlinenone#inputWarning1.form-control{type: "text"}
					%span.form_inp-text 
						111
				%label.control-label{for: "inputWarning1"} Имя состоит из букв
			.form-group.has-error.submit-group
				.input_wrap
					%input.inp_outlinenone#inputWarning1.form-control{type: "text"}
					%span.form_inp-text 
						111
				%button.btn.btn-default.link_button{type: "submit"} Отправить
				%label.control-label{for: "inputWarning1"} Введите e-mail
			.form-group.has-error.submit-group
				.input_wrap
					%input.inp_outlinenone#inputWarning1.form-control{type: "text"}
					%span.form_inp-text 
						111
				%button.btn.btn-default.link_button{type: "submit"} Отправить
				%label.control-label{for: "inputWarning1"} Введите e-mail
			%ul.reset_style.form-style_list
				%li
					.input-group.find-block_wrap
						%input.inp_outlinenone.form-control.find-block{placeholder: "Введите адрес, чтобы найти муниципалитет", type: "text"}
						%span.input-group-btn
							%button.btn.btn-default{type: "button"} Найти
				%li
					.input-group.find-block_wrap
						%input.inp_outlinenone.form-control.find-block{placeholder: "Введите адрес, чтобы найти муниципалитет", value: "Димитрова ул. 65", type: "text"}
						%span.sprite.i-find-block_close.active
						%span.input-group-btn
							%button.btn.btn-default{type: "button"} Найти

	.block_news.block_news-left
		= image_tag "styles-inf.jpg", :class => "block_news-img"
		%h4.block_news-title
			%a{href: "#"}
				%span.block_news-title_text Весенний субботник
				%span.sprite.i-block_news-title
		%a.block_news-data_link{href: "#"} 24 апреля 2014
		%p.block_news-text Принято постановление о проведении месячника чистоты на территории всех муниципальных образований
	.block_popup-wrap.block_popup-wrap_left
		.popup_hint.popup_hint-show
			%h3.popup_hint-title Муниципальное образование № 71
			%p.popup_hint-text Если в данном муниципалитете появятся независимые кандидаты, будут отремонтированы дороги и очищены залежи мусора во дворах. Переулки наполнятся светом и добром. Заброшенный пустырь будет преобразован в многопрофильную спортивную площадку.
		.popup_hint-arrow.popup_hint-arrow-indent
			%span.sprite.popup_hint-arrow_close
			%span.sprite.popup_hint-arrow_img
			%h5.popup_hint-arrow_title ФРУНЗЕНСКИЙ РАЙОН
			%span.popup_hint-arrow_text Муниципальное образование № 71
		.popover.top.popover-pos
			%span.sprite.popup_hint-arrow_close
			.sprite.arrow
			%h3.popover-title ФРУНЗЕНСКИЙ РАЙОН
			.popover-content
				%p Муниципальное образование № 71
	.clear




