.wrap_style
	%ul.link_list.clearfix
		%li
			%span.link_ico
			= link_to 'События', '#', class:"link"
		%li
			%span.link_ico
			= link_to 'Проекты', '#', class:"link"
		%li.active
			%span.link_ico
			= link_to 'О нас', '#', class:"link"
	%div.wrap_link-button
		= link_to 'Узнать больше', '#', class:"link_button"
		= link_to 'Стать кандидатом', '#', class:"link_button link_button-blue"