.background
  .container-big
    #carousel-example-generic.carousel.slide{"data-ride" => "carousel", "data-interval" => "false"}
      .carousel-indicators
        %a.ico-item.ico-home{href: "#", "data-target" => "#carousel-example-generic", "data-slide-to" => "0"}
          %center
            %span.ico-img
            %br
            %span.ico-text Дом


        %a.ico-item.ico-yard{href: "#", "data-target" => "#carousel-example-generic", "data-slide-to" => "1"}
          %center
            %span.ico-img
            %br
            %span.ico-text Двор


        %a.ico-item.ico-become_hero.active{href: "#", "data-target" => "#carousel-example-generic", "data-slide-to" => "2"}
          %center
            %span.ico-img
            %br
            %span.ico-text.ico-text_small Настоящий Депутат


        %a.ico-item.ico-garbage{href: "#", "data-target" => "#carousel-example-generic", "data-slide-to" => "3"}
          %center
            %span.ico-img
            %br
            %span.ico-text Улица




        %a.ico-item.ico-honesty_authorities{href: "#", "data-target" => "#carousel-example-generic", "data-slide-to" => "4"}
          %center
            %span.ico-img
            %br
            %span.ico-text.ico-text_small Открытость информации


      .carousel-inner

        .item
          .carousel-caption
            %h2.slider-title 
            %p.slider-text 
              Осыпающиеся фасады и протекающие крыши – не к лицу ни Петербургу, ни его жителям.
              %br
              Кто, если не муниципальные депутаты, сможет помочь петербуржцам, столкнувшимся с проблемами в ЖКХ? Отправить необходимый запрос, помочь юридически, проконтролировать работу управляющей компании…
              %br
              Только взаимодействие жителей и органов местного самоуправления поможет навести порядок в этой области. 
 
            = link_to 'Найти своих кандидатов', '#search_form', class:"link_button"

        .item
          .carousel-caption
            %h2.slider-title 
            %p.slider-text Многие петербургские дворы, особенно в центре, больше похожи на стоянки, нежели на места для прогулок и отдыха горожан. Остро не хватает зелени, нормально оборудованных детских и спортивных площадок, освещения, дорожек и парковок, совершенно не применяются современные материалы и технологии благоустройства. Зачастую мнение жителей никто не учитывает, а в муниципалитетах утверждают, что у них нет денег на все эти простые и необходимые вещи. Но это не так… В каждом из муниципалитетов города ежегодно выделяются миллионы рублей на благоустройство. Теперь взгляните на свой двор и подумайте: на что потратили деньги ваши муниципальные депутаты?


            = link_to 'Найти своих кандидатов', '#search_form', class:"link_button"

        .item.active
          .carousel-caption
            %h2.slider-title Выбери своих героев
            %p.slider-text 14 сентября 2014 года пройдут выборы в муниципальные советы Санкт-Петербурга. Несмотря на противодействие со стороны партии власти, огромное количество независимых кандидатов принимают в них участие. Участвуют, потому что хотят сделать город удобным для жизни, а муниципалитеты местом обсуждения насущных для петербуржцев проблем. И наша с вами задача – прийти на избирательные участки и поддержать этих людей. Только так можно добиться того, чтоб муниципалитеты начали работать на благо горожан. Нормальный депутат – активный и неравнодушный житель района.

            = link_to 'Найти своих кандидатов', '#search_form', class:"link_button"

        .item
          .carousel-caption
            %h2.slider-title 
            %p.slider-text  Город должен быть удобным для пешеходов и автомобилистов, пенсионеров и инвалидов, родителей и их детей. И все эти люди должны иметь возможность участвовать в обсуждении проектов обустройства городского пространства. А муниципальные депутаты, в свою очередь, могут не только создавать площадки для обсуждения важных для города, района и муниципалитета вопросов, но и доносить мнение каждой из этих групп до вышестоящих чиновников.
            = link_to 'Найти своих кандидатов', '#search_form', class:"link_button"


        .item
          .carousel-caption
            %h2.slider-title 
            %p.slider-text Только предельная открытость, понятные формы отчетности, прозрачность процессов и планирование деятельности исходя из интересов жителей района – помогут победить коррупцию в муниципалитетах и сделать их местом притяжения активных и неравнодушных горожан. 

            = link_to 'Найти своих кандидатов', '#search_form', class:"link_button"


      %a.left.carousel-control{"href" => "#carousel-example-generic", "role" => "button", "data-slide" => "prev"}
        %span.arrow.arrow_prev.arrow-position
      %a.right.carousel-control{"href" => "#carousel-example-generic", "role" => "button", "data-slide" => "next"}
        %span.arrow.arrow_next.arrow-position