.background
  .container-big
    #carousel-example-generic.carousel.slide{"data-ride" => "carousel", "data-interval" => "false"}
      .carousel-indicators
        %a.ico-item.ico-yard{href: "#", "data-target" => "#carousel-example-generic", "data-slide-to" => "0"}
          %center
            %span.ico-img
            %br
            %span.ico-text Двор

        %a.ico-item.ico-home{href: "#", "data-target" => "#carousel-example-generic", "data-slide-to" => "1"}
          %center
            %span.ico-img
            %br
            %span.ico-text Дом


        %a.ico-item.ico-garbage{href: "#", "data-target" => "#carousel-example-generic", "data-slide-to" => "2"}
          %center
            %span.ico-img
            %br
            %span.ico-text Мусор


        %a.ico-item.ico-become_hero.active{href: "#", "data-target" => "#carousel-example-generic", "data-slide-to" => "3"}
          %center
            %span.ico-img
            %br
            %span.ico-text.ico-text_small Настоящий Депутат

        %a.ico-item.ico-small_business{href: "#", "data-target" => "#carousel-example-generic", "data-slide-to" => "4"}
          %center
            %span.ico-img
            %br
            %span.ico-text.ico-text_small Малый бизнес

        %a.ico-item.ico-honesty_authorities{href: "#", "data-target" => "#carousel-example-generic", "data-slide-to" => "5"}
          %center
            %span.ico-img
            %br
            %span.ico-text.ico-text_small Честность властей


      .carousel-inner
        .item
          .carousel-caption
            %h2.slider-title 
            %p.slider-text Не хватает детской или спортивной площадки, вытоптан газон, скамейки развалились, нет парковки, яма на дороге во дворе – установить и починить все это должен местный муниципалитет. Мундепы отвечают за все, что находится внутри дворов. Полномочий у них, конечно, не много, но они могут остановить вырубку или незаконную стройку.

            = link_to 'Найти своих кандидатов', '#search_form', class:"link_button"

        .item
          .carousel-caption
            %h2.slider-title 
            %p.slider-text У муниципальных депутатов не так много полномочий, но они находятся ближе всего к простым гражданам и по идее должны помогать им в решение различных проблем. Например, они могут написать запрос в соответствующие органы, чтобы к вам пришли и наконец-то починили крышу, которая течет второй год.


            = link_to 'Найти своих кандидатов', '#search_form', class:"link_button"

        .item
          .carousel-caption
            %h2.slider-title 
            %p.slider-text  Советские помойки - это катастрофа. Огромные, грязные вечно переполненные контейнеры, источающие зловоние и смрад. Вместо этого необходимо ставить современные бачки, облагораживать территорию вокруг и заниматься раздельным сбором и, по возможности, переработкой бытовых и промышленных отходов
            = link_to 'Найти своих кандидатов', '#search_form', class:"link_button"

        .item.active
          .carousel-caption
            %h2.slider-title Выбери своих героев
            %p.slider-text Ваши дворы, то место где вы гуляете детьми, занимаетесь спортом, выгуливаете своих домашних питомцев станут чище и удобнее. На детских и спортивных площадках появятся новые современные покрытия, больше не нужно будет искать часами лавочку, чтобы присесть их станет достаточно. Ямы на дорогах наконец-то заделают, за это ваша машина скажет вам большое спасибо. Появится освещение и теперь вам не нужно будет бояться, проходя по темному двору. 
            = link_to 'Найти своих кандидатов', '#search_form', class:"link_button"

        .item
          .carousel-caption
            %h2.slider-title 
            %p.slider-text Вы давно хотели открыть свой небольшой бизнес, но не знали, как это сделать. Наши кандидаты хотят развивать и поддерживать малое предпринимательство. Они помогут вам найти помещение недалеко от дома, подскажут, как правильно оформить необходимые бумаги. Когда чиновники идут навстречу бизнесменам, любое предприятие растет на глазах, а сейчас муниципальные власти только чинят преграды, да взятки берут. Нужно это менять!
            = link_to 'Найти своих кандидатов', '#search_form', class:"link_button"


        .item
          .carousel-caption
            %h2.slider-title 
            %p.slider-text Средний бюджет муниципалитета - это 100 млн рублей в год. На что тратятся эти деньги никто не знает, потому что муниципалы не горят желанием отчитываться о своей работе, чтобы не привлекать внимания к разворованным средствам. Наши кандидаты предлагают ввести ежемесячные отчеты о проделанной работе и хотят отчитываться за каждую копейку перед жителями, ведь муницапилет живет на налоги его жителей, на ваши налоги
            = link_to 'Найти своих кандидатов', '#search_form', class:"link_button"


      %a.left.carousel-control{"href" => "#carousel-example-generic", "role" => "button", "data-slide" => "prev"}
        %span.arrow.arrow_prev.arrow-position
      %a.right.carousel-control{"href" => "#carousel-example-generic", "role" => "button", "data-slide" => "next"}
        %span.arrow.arrow_next.arrow-position