.background
  .container-big
    #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
      .carousel-indicators
        %a.ico-item.ico-yard.active{href: "#", "data-target" => "#carousel-example-generic", "data-slide-to" => "0"}
          %center
            %span.ico-img
            %br
            %span.ico-text Двор

        %a.ico-item.ico-square{href: "#", "data-target" => "#carousel-example-generic", "data-slide-to" => "1"}
          %center
            %span.ico-img
            %br
            %span.ico-text Сквер

        %a.ico-item.ico-garbage{href: "#", "data-target" => "#carousel-example-generic", "data-slide-to" => "2"}
          %center
            %span.ico-img
            %br
            %span.ico-text Мусор

        %a.ico-item.ico-home{href: "#", "data-target" => "#carousel-example-generic", "data-slide-to" => "3"}
          %center
            %span.ico-img
            %br
            %span.ico-text Дом

        %a.ico-item.ico-become_hero{href: "#", "data-target" => "#carousel-example-generic", "data-slide-to" => "4"}
          %center
            %span.ico-img
            %br
            %span.ico-text.ico-text_small Стань Героем

        %a.ico-item.ico-small_business{href: "#", "data-target" => "#carousel-example-generic", "data-slide-to" => "5"}
          %center
            %span.ico-img
            %br
            %span.ico-text.ico-text_small Малый бизнес

        %a.ico-item.ico-bicycle{href: "#", "data-target" => "#carousel-example-generic", "data-slide-to" => "6"}
          %center
            %span.ico-img
            %br
            %span.ico-text Велосипедизация

        %a.ico-item.ico-honesty_authorities{href: "#", "data-target" => "#carousel-example-generic", "data-slide-to" => "7"}
          %center
            %span.ico-img
            %br
            %span.ico-text.ico-text_small Честность властей

        %a.ico-item.ico-your_problem{href: "#", "data-target" => "#carousel-example-generic", "data-slide-to" => "8"}
          %center
            %span.ico-img
            %br
            %span.ico-text.ico-text_small Твоя проблема

      .carousel-inner
        .item.active
          .carousel-caption
            %h2.slider-title Миру нужны герои
            %p.slider-text Город накрыла тьма. Влюбленным негде целоваться все лавочки сломаны. Для велосипедистов не осталось дорожек и они вынуждены передвигаться по поребрикам. Спасти город можешь только ты!
            %p.slider-text Победить зло городе очень просто, достаточно начать со своего двора. Силам добра нужна твоя помощь! Регистрируйся и становись волонтером.
            = link_to 'Узнать больше', '#', class:"link_button"

        .item
          .carousel-caption
            %h2.slider-title Миру нужны герои
            %p.slider-text Город накрыла тьма. Влюбленным негде целоваться все лавочки сломаны. Для велосипедистов не осталось дорожек и они вынуждены передвигаться по поребрикам. Спасти город можешь только ты!
            %p.slider-text Победить зло городе очень просто, достаточно начать со своего двора. Силам добра нужна твоя помощь! Регистрируйся и становись волонтером.
            = link_to 'Узнать больше', '#', class:"link_button"

        .item
          .carousel-caption
            %h2.slider-title Миру нужны герои
            %p.slider-text Город накрыла тьма. Влюбленным негде целоваться все лавочки сломаны. Для велосипедистов не осталось дорожек и они вынуждены передвигаться по поребрикам. Спасти город можешь только ты!
            %p.slider-text Победить зло городе очень просто, достаточно начать со своего двора. Силам добра нужна твоя помощь! Регистрируйся и становись волонтером.
            = link_to 'Узнать больше', '#', class:"link_button"

        .item
          .carousel-caption
            %h2.slider-title Миру нужны герои
            %p.slider-text Город накрыла тьма. Влюбленным негде целоваться все лавочки сломаны. Для велосипедистов не осталось дорожек и они вынуждены передвигаться по поребрикам. Спасти город можешь только ты!
            %p.slider-text Победить зло городе очень просто, достаточно начать со своего двора. Силам добра нужна твоя помощь! Регистрируйся и становись волонтером.
            = link_to 'Узнать больше', '#', class:"link_button"

        .item
          .carousel-caption
            %h2.slider-title Миру нужны герои
            %p.slider-text Город накрыла тьма. Влюбленным негде целоваться все лавочки сломаны. Для велосипедистов не осталось дорожек и они вынуждены передвигаться по поребрикам. Спасти город можешь только ты!
            %p.slider-text Победить зло городе очень просто, достаточно начать со своего двора. Силам добра нужна твоя помощь! Регистрируйся и становись волонтером.
            = link_to 'Узнать больше', '#', class:"link_button"

        .item
          .carousel-caption
            %h2.slider-title Миру нужны герои
            %p.slider-text Город накрыла тьма. Влюбленным негде целоваться все лавочки сломаны. Для велосипедистов не осталось дорожек и они вынуждены передвигаться по поребрикам. Спасти город можешь только ты!
            %p.slider-text Победить зло городе очень просто, достаточно начать со своего двора. Силам добра нужна твоя помощь! Регистрируйся и становись волонтером.
            = link_to 'Узнать больше', '#', class:"link_button"

        .item
          .carousel-caption
            %h2.slider-title Миру нужны герои
            %p.slider-text Город накрыла тьма. Влюбленным негде целоваться все лавочки сломаны. Для велосипедистов не осталось дорожек и они вынуждены передвигаться по поребрикам. Спасти город можешь только ты!
            %p.slider-text Победить зло городе очень просто, достаточно начать со своего двора. Силам добра нужна твоя помощь! Регистрируйся и становись волонтером.
            = link_to 'Узнать больше', '#', class:"link_button"

        .item
          .carousel-caption
            %h2.slider-title Миру нужны герои
            %p.slider-text Город накрыла тьма. Влюбленным негде целоваться все лавочки сломаны. Для велосипедистов не осталось дорожек и они вынуждены передвигаться по поребрикам. Спасти город можешь только ты!
            %p.slider-text Победить зло городе очень просто, достаточно начать со своего двора. Силам добра нужна твоя помощь! Регистрируйся и становись волонтером.
            = link_to 'Узнать больше', '#', class:"link_button"

        .item
          .carousel-caption
            %h2.slider-title Миру нужны герои
            %p.slider-text Город накрыла тьма. Влюбленным негде целоваться все лавочки сломаны. Для велосипедистов не осталось дорожек и они вынуждены передвигаться по поребрикам. Спасти город можешь только ты!
            %p.slider-text Победить зло городе очень просто, достаточно начать со своего двора. Силам добра нужна твоя помощь! Регистрируйся и становись волонтером.
            = link_to 'Узнать больше', '#', class:"link_button"

      %a.left.carousel-control{"href" => "#carousel-example-generic", "role" => "button", "data-slide" => "prev"}
        %span.arrow.arrow_prev.arrow-position
      %a.right.carousel-control{"href" => "#carousel-example-generic", "role" => "button", "data-slide" => "next"}
        %span.arrow.arrow_next.arrow-position