!!!
%html
  %head
    %title Силы Добра
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = yield :extra_js
    = csrf_meta_tags
  %body
    = render "menu" unless params[:controller].include?("devise")
    
    = yield